<a href="https://colab.research.google.com/github/kangnurrohman/scrapper-for-google-play-store/blob/main/src/Scrapper%20for%20Google%20Play%20Store.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Reference: https://www.linkedin.com/pulse/how-scrape-google-play-reviews-4-simple-steps-using-python-kundi/

In [ ]:
pip install google-play-scraper

In [3]:
import pandas as pd
import numpy as np

In [ ]:
# don't run this cell!!! run it if you want to scrape all the data reviews
from google_play_scraper import Sort, reviews_all

result = reviews_all(
    '#', # app ID in the URL for example "com.icon.pln123"
    sleep_milliseconds=0, # defaults to 0
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.NEWEST, # defaults to Sort.MOST_RELEVANT
)

In [4]:
#Scrape desired number of reviews
from google_play_scraper import Sort, reviews

result, continuation_token = reviews(
    'com.icon.pln123', # app ID in the URL for example "com.icon.pln123"
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.NEWEST, # defaults to Sort.MOST_RELEVANT
    count=10000, # defaults to 100
    filter_score_with=None # defaults to None(means all score) Use 1 or 2 or 3 or 4 or 5 to select certain score
)

In [5]:
df = pd.DataFrame(np.array(result),columns=['review'])
df = df.join(pd.DataFrame(df.pop('review').tolist()))
df.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,ddba1d35-966c-40d7-844d-899ca26fd9f1,Risal Akbar,https://play-lh.googleusercontent.com/a/AItbvm...,Aplikasi yang sangat bagus,5,0,5.2.26,2022-09-04 10:12:56,None,NaT
1,b7c68145-920a-4600-b5a2-1ccf1cc2cff4,Fajar Ardiansyah muhamad,https://play-lh.googleusercontent.com/a/AItbvm...,Mantaap,5,0,None,2022-09-04 10:11:53,None,NaT
2,76c2e865-1683-4e10-832d-348df39f2d8a,Ayu Wulandari,https://play-lh.googleusercontent.com/a-/AFdZu...,Oke keren,5,0,5.2.8,2022-09-04 10:10:31,Halo Kak Ayu. Tks yaw udah kasih bintang 5. Su...,2021-12-31 21:17:29
3,c8fe447a-0470-45fa-b5ae-34c7012c93d5,Rivaras arnasik,https://play-lh.googleusercontent.com/a/AItbvm...,Lanjutkeun aplikasi nya kereen.... tops menanj...,5,0,None,2022-09-04 10:09:23,Tengkyu ya Kak Rivaras penilaiannya buat PLN M...,2022-09-04 08:21:19
4,9d7f18ff-29a2-43d9-aee8-68febb6037bb,Ranger Qolbu,https://play-lh.googleusercontent.com/a/AItbvm...,Tidak bisa ganti lokasi kota Bandung padahal a...,5,0,None,2022-09-04 10:06:32,None,NaT

In [6]:
len(df.index) #count the number of data

10000

In [7]:
df[['userName', 'score','at', 'content']].head()  #preview userName, rating, date-time, and reviews only

,userName,score,at,content
0,Risal Akbar,5,2022-09-04 10:12:56,Aplikasi yang sangat bagus
1,Fajar Ardiansyah muhamad,5,2022-09-04 10:11:53,Mantaap
2,Ayu Wulandari,5,2022-09-04 10:10:31,Oke keren
3,Rivaras arnasik,5,2022-09-04 10:09:23,Lanjutkeun aplikasi nya kereen.... tops menanj...
4,Ranger Qolbu,5,2022-09-04 10:06:32,Tidak bisa ganti lokasi kota Bandung padahal a...

In [8]:
#Run This Code to Sort the Data By Date 
df = df[['userName', 'score','at', 'content']]
df = df.sort_values(by='at', ascending=False) #Sort by Newest, change to True if you want to sort by Oldest.
df.head()

,userName,score,at,content
0,Risal Akbar,5,2022-09-04 10:12:56,Aplikasi yang sangat bagus
1,Fajar Ardiansyah muhamad,5,2022-09-04 10:11:53,Mantaap
2,Ayu Wulandari,5,2022-09-04 10:10:31,Oke keren
3,Rivaras arnasik,5,2022-09-04 10:09:23,Lanjutkeun aplikasi nya kereen.... tops menanj...
4,Ranger Qolbu,5,2022-09-04 10:06:32,Tidak bisa ganti lokasi kota Bandung padahal a...

In [9]:
df = df[['userName', 'score','at', 'content']] #get userName, rating, date-time, and reviews only
df.head()

,userName,score,at,content
0,Risal Akbar,5,2022-09-04 10:12:56,Aplikasi yang sangat bagus
1,Fajar Ardiansyah muhamad,5,2022-09-04 10:11:53,Mantaap
2,Ayu Wulandari,5,2022-09-04 10:10:31,Oke keren
3,Rivaras arnasik,5,2022-09-04 10:09:23,Lanjutkeun aplikasi nya kereen.... tops menanj...
4,Ranger Qolbu,5,2022-09-04 10:06:32,Tidak bisa ganti lokasi kota Bandung padahal a...

In [11]:
# df.to_csv("scrapped_data.csv", index = False) #Save the file as CSV
df.to_excel("scrapped_data.xlsx", sheet_name='scrapping', index=False) #Save the file as Excel